/* -------------------- Imports -------------------- */
/* ------------------------------------------------------------------------------ */

$base: 1rem;
$unit: $base*1.5;

@import "_normalize.scss";
@import "_reset.scss";
@import "_typography.scss";


@mixin transitions($property: all, $duration: 0.3s, $timing: ease) {
    -webkit-transition: $property $duration $timing;
       -moz-transition: $property $duration $timing;
        -ms-transition: $property $duration $timing;
         -o-transition: $property $duration $timing;
            transition: $property $duration $timing;
}

.absolute-center-content {
    -webkit-transform: translate3d(-50%,-50%,0);
            transform: translate3d(-50%,-50%,0);
}

/* -------------------- Variables -------------------- */
/* ------------------------------------------------------------------------------ */

$background-color: #161620;
$light-color: #f3f3f7;
$dark-color: #0F0F18;


/* -------------------- Main / Header -------------------- */
/* ------------------------------------------------------------------------------ */

html, body {
    background: $light-color;
    color: #FFF;
}

main { width: 100%; height: 100%; }
canvas {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.background-container {
    background: $background-color;
}

.main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    width: 90%;

    opacity: 0.8;

    color: $light-color;
    text-align: center;
    text-transform: uppercase;

    @extend .absolute-center-content;
    @include transitions(text-shadow, 1s, ease);
    &:hover {
        @include transitions(text-shadow, 1s, ease);
        text-shadow: transparentize($light-color, 0.2) 0 0 1em;
    }
}

.main-title h1 {
    font-size: 7*$unit;
    margin-bottom: 0.2em;
    letter-spacing: 0.15em;
}

.main-firstname {
    font-weight: 700;
}

.main-lastname {
    font-weight: 100;
}

.main-title h2 {
    font-size: 2.66*$unit;
    letter-spacing: 0.5em;
    font-weight: 400;
}


.arrow-icon-container {
    position: absolute;
    bottom: 5*$unit;
    width: 100%;
    height: 5*$unit;
    line-height: 5*$unit;
    text-align: center;
    a {
        display: inline-block;
        height: 5*$unit;
        padding: $unit;
        @include transitions(all, 600ms, cubic-bezier(0.175, 0.885, 0.32, 1.275));
        &:hover {
            -webkit-transform: translate3d(0, $base, 0);
            transform: translate3d(0, $base, 0);
            @include transitions(all, 600ms, cubic-bezier(0.175, 0.885, 0.32, 1.275));
        }
    }
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    color: $dark-color;
    fill: currentColor;
}

.icon-arrow-down {
    width: 5*$unit;
    height: 5*$unit;
    color: $light-color;
    opacity: 0.8;
}


/* -------------------- Header  -------------------- */
/* ------------------------------------------------------------------------------ */

.main-header {
    position: absolute;
    height: 5*$unit;
    width: 100%;
    background: $background-color;
    z-index: 10;
}

.main-header.stickied {
    position: fixed;
    top: 0;
}

.main-nav {
    height: 5*$unit;
    line-height: 5*$unit;
}

.main-header-title {
    display: inline-block;
    text-transform: uppercase;
    a {
        letter-spacing: 0.3em;
        padding: 0 2*$unit;
    }
}

.main-header-title-names {
    font-size: 2*$unit;
}

.main-header-title-lastname {
    font-weight: 100;
}

.main-nav-list {
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.main-nav-list li {
    display: inline-block;
    min-width: 10*$unit;
    height: 100%;
    letter-spacing: 0.15em;
    vertical-align: top;
    @extend .headings;
    a {
        display: block;
        @include transitions(background ,.1s, ease);
        &:hover {
            background: lighten($background-color, 10%);
            @include transitions(background ,.1s, ease);
            text-shadow: transparentize($light-color, 0.2) 0 0 1em;
        }
    }
}


/* -------------------- Commons sections -------------------- */
/* ------------------------------------------------------------------------------ */

.section-wrapper {
    width: 90%;
    min-height: 100%;
    height: inherit;
    margin: 0 auto;
    padding: 5*$unit 0;
}

.section-title {
    padding: 2*$base;
    font-size: 4*$unit;
    color: $dark-color;
}

/* -------------------- About section -------------------- */
/* ------------------------------------------------------------------------------ */

#about {
    background-image: url(img/grid.png);
    background-position: 0 -5%;
}

.about-container {
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    max-width: 1200px;
    @extend .absolute-center-content;

    p {
        text-align: center;
        color: $dark-color;
    }
}

.about-hello {
    font-size: 5*$unit;
    margin-bottom: 2*$unit;
    color: inherit;
    @extend .bold;
}

.about-description {
    font-size: 2*$unit;
    line-height: 1.33;
    color: inherit;

    .about-description-link {
        position: relative;
        display: inline-block;
        padding-bottom: .33*$base;
        color: $dark-color;
        @extend .bold;

        &:after {
            content: '';
            position: absolute;
            left: 0; bottom: 0;
            width: 100%;
            height: 0;
            border-bottom: 2px solid $dark-color;
            -webkit-transform: scaleX(0);
                -ms-transform: scaleX(0);
                    transform: scaleX(0);
            @include transitions(transform, .15s, ease-in);
        }

        &:hover:after {
            -webkit-transform: scaleX(1.05);
                -ms-transform: scaleX(1.05);
                    transform: scaleX(1.05);
        }
    }
}

.about-links-wrapper {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    margin-top: 2*$unit;

    li {
        display: inline-block;
        vertical-align: top;
        margin: 0 1.66*$unit;
    }

    .about-link {
        @include transitions(opacity ,.1s, ease);
        display: block;
        width: 4*$unit;
        height: 4*$unit;
        color: $dark-color;
        cursor: pointer;

        img {
            max-width: 100%;
        }

        &.mail-link {
            @extend .bold;
            font-size: 4*$unit;
        }

        &:hover {
            opacity: .75;
        }
    }
}


/* -------------------- Work section -------------------- */
/* ------------------------------------------------------------------------------ */
#work {
    background-image: url(img/grid.png);

    .section-wrapper {
        padding-top: 6.5*$unit;
    }
}

.grid-container {
    display: -webkit-flex;
    display: flex;
    height: 100%;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-align-content: space-between;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            align-content: space-between;
    text-align: center;
}

.grid-unit {
    -webkit-flex-direction: row;
            flex-direction: row;
    width: 25vw;
    height: calc(25vw * (3/4));

    &.main-project {
        width: 100%;
    }
}

.project-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    cursor: pointer;

    .project-description-wrapper {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -webkit-flex-wrap: wrap;
        -webkit-flex-direction: column;
        -webkit-align-items: center;
        -webkit-align-content: space-around;
                justify-content: center;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                align-content: space-around;
        height: 100%;
        @include transitions(all ,.15s, ease);

        // Starting and ending state
        &.ng-enter,
        &.ng-leave.ng-leave-active {
            opacity: 0;
        }

        // While hovering state
        &.ng-enter-active,
        &.ng-leave {
            opacity: 1;
        }
    }

    .project-title {
        width: 75%;
        margin-bottom: $base;
        font-size: 2.33*$unit;
        text-transform: uppercase;
        letter-spacing: .3rem;
    }

    .project-text {
        @extend .light;
        width: 75%;
        margin-top: $base;
        font-size: 1.33*$unit;
    }
}

/* -------------------- Footer section -------------------- */
/* ------------------------------------------------------------------------------ */

.footer-wrapper {
    width: 100%;
    height: 5*$unit;
    line-height: 5*$unit;
    background-color: $background-color;
    text-align: center;
    color: $light-color;
    a {
        display: inline-block;
        height: 100%;
        @include transitions(all ,.1s, ease);
        &:hover {
            @include transitions(all ,.1s, ease);
            text-shadow: transparentize($light-color, 0.2) 0 0 1em;
        }
    }
}

.icon-wrapper {
    width: 2*$unit;
    height: 2*$unit;
    margin-left: $base/2;
    margin-right: $base/2;
    margin-bottom: -$unit/2;
}

#icon-github path.icon-github {
    fill: #FFF;
}


/* -------------------- Modal -------------------- */
/* ------------------------------------------------------------------------------ */

.modal-overlay {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-align-content: space-around;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            align-content: space-around;

    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 300;
    background: rgba(0, 0, 0, 0.90);

    @include transitions(all ,.15s, ease);

    // Starting and ending state
    &.ng-enter,
    &.ng-leave.ng-leave-active {
        opacity: 0;
    }

    // While hovering state
    &.ng-enter-active,
    &.ng-leave {
        opacity: 1;
    }
}

.modal {
    height: 100%;
    margin: auto;
    padding: 7.5*$unit 0;
    overflow-y: auto;

    .project-titles {
        max-width: 85%;
        margin: 0 auto;
        text-align: center;
        color: $light-color;
    }

    .project-titles h1 {
        @extend .bold;
        font-family: $sans;
        font-size: 5*$unit;
        letter-spacing: 2.66*$unit;
        text-indent: 2.66*$unit;
    }


    .project-titles h2 {
        @extend .thin;
        margin: 2*$unit 0 6*$unit 0;
        font-family: $sans;
        font-size: 3*$unit;
        text-transform: none;
    }

    .project-description {
        @extend .light;
        max-width: 60*$unit;
        margin: 0 auto;
        line-height: 1.48;
        font-size: 1.5*$unit;
        white-space: pre-line;
        text-align: justify;
    }

    .project-showcase {
        margin: 5*$unit 0;
        img {
            display: block;
            max-width: 75%;
            margin: 0 auto;
        }
    }

    .project-link {
        @extend .uppercase;
        display: block;
        max-width: 25*$unit;
        margin: 0 auto;
        padding: 2*$base 3*$unit;
        border: .3*$base solid $light-color;
        text-align: center;
        letter-spacing: .3*$base;
        @include transitions(all ,.33s, ease);
        &:hover {
            background: $light-color;
            color: $dark-color;
        }
    }

}
